<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Hedin.UI.Template.Server.styles.css"]" />

    <link href="@Assets["https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"]" rel="stylesheet">
    <link href="@Assets["_content/MudBlazor/MudBlazor.min.css"]" rel="stylesheet" />
    <link href="@Assets["_content/Hedin.UI/Hedin.UI.bundle.scp.css"]" rel="stylesheet" />
    <link href="@Assets["_content/Hedin.UI/css/hedin-ui.css"]" rel="stylesheet" />
    <ImportMap />
    <link rel="icon" type="image/png" href="HedinUI-favicon.svg" />
    <HeadOutlet @rendermode="new InteractiveServerRenderMode(prerender: false)" />
</head>

<body>
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
    <HUIReconnectModal />
    <script src="_framework/blazor.web.js" autostart="false"></script>
    <script src="@Assets["_content/Hedin.UI/js/boot-server.js"]"></script>
    <script src="@Assets["_content/MudBlazor/MudBlazor.min.js"]"></script>
    <script src="@Assets["_content/Hedin.UI/js/hedin-ui.js"]"></script>
</body>

</html>
